body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
}

* {
  /* font-family: "Anek Latin", sans-serif; */
}

*::selection {
  background-color: aliceblue;
}

/* Home page CSS */
#home-page-header {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  position: relative;
  /* border-bottom: 1px solid #d5dde6 ; */
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  /* font-family: "Anek Latin", sans-serif; */
}

#home-page-header-title {
  position: absolute;
  /* height: 100%;
  width: 50%;
  right: 0; */
  top: 10%;
  left: 1%;
  /* padding-top: 10px; 
  padding-left: 10px; */
  font-size: 50px;
  font-weight: 800;
  color: #414042;

  left: 4%;
  color: #1b1b1c;
}

#home-page-body {
  /* background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/oAiaOrUctS_W5awpIL6lhA/o.jpg"); */
  background-size: cover;
  width: 100%;  
  /* height: 90%; */ 
  display: flex;
  /* justify-content: center; */
  align-items: center;

  flex-direction: column;
  justify-content: space-around;
  opacity: 0.9;

  height: 85%;
}

#home-page-form-title {
  /* font-family: "Anek Latin", sans-serif; */
  /* color: #414042; */
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}

#input-address-one, #input-address-two, #select-activity {
  width: 100%;
}


#home-page-footer {
  width: 100vw;
  /* height: 20vh; */
  /* height: 10vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly;
  align-items: center; */
  border-top: 1px solid #d5dde6 ;
  /* font-family: "Anek Latin", sans-serif; */
  height: 15%;
}

#home-page-body-wrapper {
  width: 100%; 
  height: 90%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
}

#home-page-form-button {
  width: 100%;
}

#footer-slogan {
  width: 100%;
  line-height: 45px;
  font-size: 20px;
  font-weight: 800;
  color: #27252b;
  font-family: 'Anek Latin', sans-serif;

  vertical-align: middle;
  text-align: center;
  /* font-family: 'Dancing Script', cursive; */
  /* height: 100%; */
}

#slogan {
  color: white;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
}

#footer-contact-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#github-link,
#personal-page-link {
  color: inherit;
  font-size: 15px;
  text-decoration: none;
}

#home-page-container {
  /* color: white; */
  /* font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#hope-page-form-outline {
  padding: 40px;
}

#hope-page-background-image {
  background-size: cover;
  position: absolute;
  inset: 0;
  width: 150%;
  height: 200%;
  margin-bottom: 50%;
  margin-left: 50%;
  /* margin-bottom: 20%; */
  transform: translate(-50%, -30%);
  z-index: -1;
}

#transportation-label {
  /* font-family: "Anek Latin", sans-serif; */
  color: #414042;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

#home-page-form-button {
  width: 100%;
}
/* .MuiButtonBase-root.MuiToggleButton-root.Mui-selected.MuiToggleButton-sizeMedium.MuiToggleButton-standard.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal:hover {
  background-color: #a3c3e3e8;
} */

/* Google place API autocomplete */
.pac-container {
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  width: 100%;
}

.pac-matched {
  font-size: 14px;
  font-weight: 700;
}

.pac-item-query {
  font-size: 14px;
  font-weight: 400;
}

.pac-item {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
}

/* !Theres a problem showing the icon */
.pac-icon, .pac-item-selected>.pac-icon {
  /* background-image: url("../public/map-pin-solid.svg"); */
  /* background: url("../public/map-pin-solid.svg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 15px 10px 0 10px; */
  margin: 15px 10px 0 10px;
}

.pac-item:hover {
  background-color: #eff5fb;
}


.pac-container:after {
  background-image: none !important;
  height: 0px;
}


/* Meeting Locations Page */

#meeting-locations-header {
  font-size: 5vh;
  height: 100%;
}

#meeting-locations-header-title {
  /* position: absolute;
  top: 1%;
  left: 2%; */

  margin: 10px 40px 0 20px;
  cursor: pointer;
  width: fit-content;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 800;
  color: #1b1b1c
}

/* Meeting Locations List */
.business-title, .business-rating, .business-categories, .business-open, .business-review {
  margin-bottom: 7px;
}

.business-title {
  font-size: 17px;
  font-weight: 700;
}

.business-content {
  font-family: 'Open Sans', sans-serif;
}

.meeting-location-list-title {
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 10px 40px 10px;
}

.business-rating { 
  font-weight: 500;
  display: flex;
  align-items: center;
}

.business-rating-number-reviews {
  line-height: 1;
}

.business-review {
  /* margin: 10px 15px 0px 15px; */
  margin-top: 10px;
  color: grey;
}

/* Google Maps */
.marker-label {
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 300; */
  font: 400 11px 'Roboto', Arial, sans-serif;
}

#meeting-locations-header-form-button {
  margin-right: 40px;
  width: 100%;
}

.marker-title-name {
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.marker-address {
  font-size: 13px;
}

.marker-links-container {
  display: flex;
  flex-direction: column;
}

.marker-links {
  font-size: 13px;
  color: #1a73e8;
  text-decoration: none;
}

.marker-links:hover {
  text-decoration: underline;
}


/* Page Not Found CSS */
#page-not-found-heading,
#page-not-found-message,
#page-not-found-pathname,
#page-not-found-button {
  /* font-family: "Anek Latin", sans-serif; */
}

#page-not-found-heading {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
}

#page-not-found-message {
  font-size: 20px;
  font-weight: 400;
}

#page-not-found-body {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#page-not-found-button {
  font-size: 15px;
  margin-top: 5px;
}

#page-not-found-link {
  color: inherit;
  text-decoration: none;
}

#page-not-found-image {
  height: 40vh;
}
